@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* COLORS */
    --header-height: 3.5rem;
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /* FONT STYLE */
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --body-font: 'Poppins', sans-serif;

    /* zIndex */
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    background: var(--container-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100svh;
}

html {
    scroll-behavior: smooth;
    height: 100svh;
}

input, textarea, button {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img, svg {
    max-width: 100%;
    height: auto;
}

/* =========================== CUSTOM SCROLLBAR ============================== */
html::-webkit-scrollbar {
    width: 0.7dvw;
}

html::-webkit-scrollbar-thumb {
    background: var(--first-color);
}

html::-webkit-scrollbar-track {
    background: #1c1c1c;
}

/* =========================== HEADER ============================== */
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100dvw;
    height: 70px;
    z-index: var(--z-fixed);
    backdrop-filter: blur(25px);
    transition: 0.7s;
}

.scrolled {
    top: -100px;
}

.header-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    width: 95%;
}

.logo-name a h3 {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.logo-name a h3 span {
    color: var(--first-color-alt);
}

.nav-link {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-link .nav-item {
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    color: var(--title-color);
    position: relative;
    padding-block: 7px;
    transition: 0.7s;
}

.nav-link .nav-item::after {
    width: 0%;
    content: "";
    position: absolute;
    background: var(--first-color-alt);
    bottom: 0;
    left: 0;
    height: 1px;
    transition: 0.3s;
}

.nav-link .nav-item:hover {
    color: var(--first-color-alt);
}

.nav-link .nav-item:hover::after {
    width: 100%;
}

.header-container #menu-btn {
    display: none;
    color: var(--title-color);
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    transition: 0.2s;
}

.header-container #menu-btn:hover {
    background: #777;
}

.header-container #menu-btn:active {
    background: #555;
}

.nav-link .linkactive {
    color: var(--first-color-alt);
    font-weight: bold;
}

/* =========================== HOME SLIDE ============================== */
.whole {
    position: relative;
    height: 100svh;
    top: 0;
}

.home-slide {
    width: 100dvw;
    min-height: 100svh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
}

.home-container {
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    width: 50%;
    animation: slideDown 1s 0.8s 1 forwards;
    opacity: 0;
}

@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.home-content p {
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.home-content p:nth-child(1) span {
    color: var(--first-color-alt);
}

.home-content h3 {
    font-size: var(--h1-font-size);
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
}

.home-content p:nth-child(4) {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-top: 10px;
}

.button {
    color: var(--title-color);
    background: var(--first-color);
    border-radius: 7px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: var(--normal-font-size);
    transition: 0.3s;
    text-wrap: nowrap;
}

.home-slide .button {
    margin-block: 1.5rem 2.5rem;
}

.button:hover {
    box-shadow: 0 8px 24px 5px hsla(var(--hue), 100%, 40%, 0.25);
}

.social-link {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.social-link:hover i {
    scale: 1.2;
}

.social-link:hover p {
    letter-spacing: 2px;
}

.social-link i {
    border-radius: 50%;
    padding: 5px;
    background: var(--first-color-alt);
    color: var(--title-color);
    font-size: var(--h2-font-size);
    transition: 0.3s;
}

.social-link p {
    font-size: var(--h3-font-size);
    transition: 0.3s;
}

.home-photo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideTop 1s 0.8s 1 forwards;
    height: 100%;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@keyframes slideTop {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-photo img {
    filter: drop-shadow(0 15px 12px hsla(var(--hue), 100%, 40%, 0.2));
    width: 70%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

/* =========================== ABOUT SLIDE ============================== */
.about-slide {
    width: 100dvw;
    min-height: 85svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-color);
    padding-block: 5rem;
}

.about-container {
    max-width: 1120px;
    display: flex;
    column-gap: 2.5rem;
    width: 95%;
}

.about-skill {
    width: 50%;
    color: var(--title-color);
    overflow-x: hidden;
}

.about-skill small {
    font-size: var(--normal-font-size);
    font-weight: bold;
}

.about-skill small span {
    color: var(--first-color-alt);
}

.about-skill p {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.about-skill p:nth-child(4) {
    margin-top: 2.5rem;
}

.about-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content small {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.about-content small span {
    color: var(--first-color-alt);
}

.about-content p:nth-child(2) {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.about-content p:nth-child(3) {
    margin: 2rem 0;
}

.logo-container {
    mask: linear-gradient(to right, transparent, white 20% 80%, transparent)
}

.logo-slider {
    overflow-x: hidden;
    width: max-content;
    margin-top: 2rem;
}

.popupActive .logo-slider {
    animation: slideLogo 20s linear infinite;
}

@keyframes slideLogo {
    to {
        transform: translateX(calc(-50% - 0.6rem));
    }
}

.skill-item {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.skill-item li {
    width: 50px;
}

@media(prefers-reduced-motion: reduce) {
    .logo-slider {
        animation: none;
        width: fit-content;
    }
    .skill-item {
        flex-wrap: wrap;
        row-gap: 0.7rem;
    }
    .logo-container {
        mask: none;
    }
}

#thinkcell, #vba {
    width: 100px;
}

#sap {
    width: 70px;
}

.skill-item-learn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    margin-top: 20px;
}

.skill-item-learn li {
    width: 50px;
}

#html {
    width: 50px;
}

#sql {
    width: 170px;
}

#pbi {
    width: 35px;
}

#react {
    width: 65px;
}

/* =========================== SERVICE SLIDE ============================== */
.service-slide {
    width: 100dvw;
    min-height: 80svh;
    background: var(--container-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5rem;
}

.service-slide small {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.service-slide small span {
    color: var(--first-color-alt);
}

.service-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.service-items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    max-width: 1120px;
    width: 97%;
    margin-top: 5rem;
    padding: 1px;
    overflow-y: hidden;
}

.service-item {
    background: var(--body-color);
    border: 1px solid;
    border-color: transparent;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    width: calc((1120px - 2 * 1.2rem) / 3);
    height: calc((1120px - 2 * 1.2rem) / 3);
    padding: 0 12px;
}

.service-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    top: 0;
    left: 0;
    border-radius: 15px;
    transition: border-color 0.4s;
}

.service-item:nth-child(2) {
    transition-property: opacity, transform;
    transition-delay: 0.2s, 0.2s;
    transition-duration: 1.5s, 1.5s;
}

.service-item:nth-child(3) {
    transition-property: opacity, transform;
    transition-delay: 0.4s, 0.4s;
    transition-duration: 1.5s, 1.5s;
}

.service-item:hover::before {
    border-color: hsla(var(--hue), 100%, 40%, 1);
}

.service-item span {
    color: var(--first-color);
    font-size: 3rem;
}

.job-title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
}

.job-desc {
    text-align: center;
}

.service-item:nth-child(3)::after {
    position: absolute;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px;
    right: 0;
    content: "Honing In";
    padding: 0 10px;
    background: var(--first-color);
    height: 30px;
    width: auto;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.3s ease;
    font-size: var(--normal-font-size);
    opacity: 0;
}

.service-item:nth-child(3):hover::after {
    top: 0;
    opacity: 1;
}

/* =========================== EXPERIENCE SLIDE ============================== */
.experience-slide {
    width: 100dvw;
    min-height: 80svh;
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5rem;
}

.experience-container {
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-slide small {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.experience-slide small span {
    color: var(--first-color-alt);
}

.experience-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.experience-items {
    width: 97%;
    max-width: 1120px;
    margin-top: 3.5rem;
    display: flex;
    column-gap: 1.5rem;
}

.experience-item {
    background: var(--container-color);
    border-radius: 15px;
    padding: 15px 30px;
    border: 1px solid transparent;
    width: calc(50% - 1.5rem / 2);
}

.experience-item[data-direction='right'] {
    transition-delay: transform 0.4s;
}

.experience-item:hover {
    border: 1px solid hsla(var(--hue), 100%, 40%, 1);
    box-shadow: 0 8px 24px 5px hsla(var(--hue), 100%, 40%, 0.25);
}

.company-name {
    font-size: var(--h3-font-size);
    color: var(--title-color);
}

.experience-item small {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

.experience-item .desc {
    list-style-type: circle;
}

/* =========================== PROJECT SLIDE ============================== */
.project-slide {
    min-height: 100svh;
    width: 100dvw;
    background: var(--container-color);
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1120px;
    width: 97%;
}

.project-slide small {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.project-slide small span {
    color: var(--first-color-alt);
}

.project-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.project-cards {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 3.5rem;
    width: 100%;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 20px;
    background: var(--body-color);
    width: 250px;
    transition: 0.2s;
    border: 1px solid #4D4855;
}

.project-card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: inherit;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
}

.project-card .card-desc {
    font-size: 13px;
    color: var(--text-color);
}

.project-card:hover {
    box-shadow: 2px 2px 10px var(--first-color);
}


/* =========================== CONTACT SLIDE ============================== */
.contact-slide {
    width: 100dvw;
    min-height: 100svh;
    background: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
}

.contact-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

#submitBtn[disabled] {
    background: var(--container-color);
    color: gray;
    box-shadow: none;
    cursor: default;
}

.contact-container small {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.contact-container small span {
    color: var(--first-color-alt);
}

.contact-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.name-email {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.name-email input::placeholder {
    color: var(--text-color);
}

.name-email input {
    color: var(--text-color);
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    background: var(--container-color);
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container #message {
    margin-top: 15px;
    border-radius: 10px;
    padding: 15px 15px;
    width: 100%;
    background: var(--container-color);
    height: 300px;
    max-height: auto;
    color: var(--text-color);
    resize: none;
}

.contact-container #message::placeholder {
    color: var(--text-color);
}

.contact-container #contact-form .button {
    margin-top: 30px;
}

.contact-container .or {
    margin-block: 10px;
    font-size: 13px;
    text-align: center;
}

/* =========================== END SLIDE ============================== */
.end-bar {
    min-height: 15svh;
    width: 100dvw;
    background: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}

.end-container {
    max-width: 1120px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--title-color);
}

.end-title h2 span {
    color: var(--first-color);
}

.social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: 100%;
}

.social-media a {
    font-size: 1.5rem;
    color: var(--title-color);
    border-radius: 50%;
    padding: 5px 10px;
    background: var(--first-color-alt);
    transition: 0.4s;
}

.social-media a:hover {
    scale: 1.2;
}

#back-to-top {
    border-radius: 7px;
    background: var(--first-color);
    padding: 5px 10px;
    font-size: var(--h2-font-size);
    color: var(--container-color);
    cursor: pointer;
    transition: 0.4s;
    position: fixed;
    bottom: -100%;
    right: 3rem;
}

#back-to-top.active {
    bottom: 3rem;
}

.popUp {
    opacity: 0;
    transition: transform 1.5s, opacity 1.5s, border 0.4s;
}

.popupActive {
    opacity: 1;
    animation: moveUppopUp 1.2s forwards;
}

@keyframes moveUppopUp {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translate(0);
    }
}

/* =========================== MEDIA QUERIES ============================== */
@media screen and (min-width:1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}
@media screen and (max-width:1154px) {
    .home-container {
        width: 95%;
    }
}
@media screen and (max-width:1130px) {
    .about-slide {
        min-height: 100svh;
        height: auto;
        padding-block: 5rem 4rem;
    }
    .about-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        max-width: 100dvw;
        row-gap: 3rem;
    }
    .about-content {
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .about-skill {
        width: 90%;
    }
    .skill-item-learn {
        flex-wrap: wrap;
        row-gap: 0.7rem;
    }
}
@media screen and (max-width:1100px) {
    .service-item {
        width: auto;
    }
    .experience-items {
        flex-direction: column;
        row-gap: 1.1rem;
        width: 95dvw;
    }
    .experience-item {
        width: auto;
    }
}
@media screen and (max-width:925px) {
    html::-webkit-scrollbar {
        width: 0;
    }
    .header-container {
        width: 90dvw;
    }
    .header-container #menu-btn {
        display: block;
    }
    .nav-link {
        width: 230px;
        height: 0;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        row-gap: 0rem;
        background: black;
        z-index: 1000;
        border-radius: 15px;
        top: 70px;
        right: 3%;
        overflow: hidden;
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .nav-link > *:nth-child(n + 2) {
        margin-top: 0.8rem;
    }
    .navlinkactivated {
        height: 365px;
        padding-block: 0.7rem;
    }
}
@media screen and (max-width:750px) {
    .home-slide {
        min-height: 100svh;
        height: auto;
        padding-block: 5rem 6rem;
    }
    .home-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        height: 100%;
    }
    .home-photo img {
        width: 55%;
    }
    .home-container > * {
        width: 90%;
    }
    .home-content {
        align-items: center;
    }
    .home-content > * {
        text-align: center;
    }
    .about-slide {
        min-height: 100svh;
        height: auto;
        padding-block: 5rem 4rem;
    }
    .service-slide {
        min-height: 100svh;
        height: auto;
        padding-block: 5rem 6rem;
    }
    .service-slide small {
        margin-top: 0;
    }
    .service-items {
        max-width: 95%;
        flex-direction: column;
        row-gap: 0.9rem;
        margin-top: 2rem;
        overflow-x: hidden;
        overflow-y: none;
    }
    .service-item {
        width: 100%;
        height: auto;
        padding: 40px 12px;
    }
    .service-item:nth-child(3)::after {
        top: 0;
        right: -50px;
    }
    .service-item:nth-child(3):hover::after {
        right: 0;
    }
    .job-title, .experience-title {
        text-align: center;
    }
    .experience-container {
        margin-top: 0;
    }
    .experience-slide {
        min-height: 100svh;
        height: auto;
        padding-block: 5rem 6rem;
    }
    .experience-item .desc {
        font-size: 14px;
    }
    .experience-item .desc li:first-child {
        margin-top: 8px;
    }
    #contact-form {
        width: 92%;
    }
    .name-email {
        flex-direction: column;
    }
    .end-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
    }
    .end-title > * {
        text-align: center;
    }
    #back-to-top {
        bottom: -100%;
        right: 2rem;
    }
    #back-to-top.active {
        bottom: 2rem;
    }
}
@media screen and (max-width:250px) {
    .nav-link {
        left: 3%;
        width: unset;
    }
}